<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <form method="POST">
        <input type="number/text" name="num1" placeholder="Enter number"/>
        <input type="number/text" name="num2" placeholder="Enter number"/>
        <button action="submit" formaction="/add">Add</button>
        <button action="submit" formaction="/sub">Sub</button>
        <button action="submit" formaction="/multiply">Multiply</button>
        <button action="submit" formaction="/divide">Divide</button>
    </form>
    
</body>
</html>